{% extends 'base.html' %}  

{% block title %}
  Career Planner & Course Tracker
{% endblock %}

{% block ul %}
<a class="nav-link" href="{{ url_for('login') }}">Login</a>
{% endblock %}

{% block content %}

     <h1><b> Welcome to Career Path Selector and Courses Tracker</b></h1>
    <!-- Login Container class="container login-container"-->
    <div class="login-container">
        <!-- PVAMU Logo -->
        <img src="static/PVAMU.png" alt="PVAMU Logo" class="pvamu-logo">
        
        <!-- Login Form -->
        <h2 class="mt-4">Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
                <br/>
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
                <br/>
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}

                <br/><br/>
                <p> <a href="{{ url_for('password_reset') }}">Forget Password?</a></p>
 
    </div>
    
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}