# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pem
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Kubernetes/kind-airflow/certs/domain.key
Kubernetes/kind-airflow/certs/domain.crt
Databricks/spark-submit-dbundled/2024-09-30-1.json.gz
2015-01-01-15.json.gz
2015-01-01-16.json.gz
*.tfvars
Databricks-project/terrafform/databricks/components.tf/testcase/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.10.0/linux_amd64/terraform-provider-azurerm_v4.10.0_x5
Databricks-project/terrafform/databricks/test-cli-approach/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/terraform-provider-azurerm_v4.9.0_x5
Databricks-project/terrafform/databricks/test-cli-approach/.terraform/providers/registry.terraform.io/databricks/databricks/1.58.0/linux_amd64/terraform-provider-databricks_v1.58.0
Databricks-project/terrafform/databricks/test-cli-env-deployment/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/linux_amd64/terraform-provider-azurerm_v4.9.0_x5
Databricks-project/Databricks_Platform_Admin/terrafform/databricks/test-cli-approach-quick-deploy/terraform.tfstate.backup
Databricks-project/Databricks_Platform_Admin/terrafform/databricks/test-cli-approach-quick-deploy/tfplan
Databricks-project/Databricks_Platform_Admin/terrafform/test/.terraform.lock.hcl
Databricks-project/Databricks_Platform_Admin/terrafform/test/terraform.tfstate
Databricks-project/Databricks_Platform_Admin/terrafform/test/terraform.tfstate.backup
Databricks-project/Databricks_Platform_Admin/terrafform/test/tfplan
Databricks-project/terrafform/databricks/components.tf/testcase/terraform.tfstate
Databricks-project/terrafform/databricks/components.tf/testcase/terraform.tfstate.backup
Databricks-project/terrafform/databricks/test-cli-approach/.terraform.lock.hcl
Databricks-project/terrafform/databricks/components.tf/testcase/terraform.tfstate
Databricks-project/terrafform/databricks/components.tf/testcase/terraform.tfstate.backup
Databricks-project/terrafform/databricks/test-cli-approach/.terraform.lock.hcl
*.tfstate
Databricks-project/Databricks_Platform_Admin/terrafform/databricks/test-cli-approach-quick-deploy/.terraform.lock.hcl
