/* CSS Document for Screens */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');

#page {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

body {

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #edf4f4;
}

* {
    box-sizing: border-box;
}

/* Text */

h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
    color: rgb(4, 10, 10);
    ;
}

h3 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
    color: rgb(10, 9, 9);
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: 1.2em;
    font-weight: 700;
    color: #000;
}



p {
    margin: 0 0 .1em 0;
    color: #000;
}

a {
    color: #007eff
}

a:visited {
    color: #65b1ff;
}

a.btn {
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: rgb(80, 72, 72);
    border: 1px solid #fff;
    border-radius: 27.5px;
    padding: 4px 15px;
    position: relative;
    left: 10px;
    top: 30px;
}

/*  Header  */

section.w3-content {
    overflow: hidden;
    margin-top: 100px;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 20px;
    display: none;
    float: left;
}

header a.logo {
    z-index: 1;
    position: absolute;
    display: block;
    width: 200px;
    height: 66px;
    background: url(../images/tavels.svg) no-repeat 0 0;
    background-size: contain;
    top: 10px;
    left: 20px;
}


header a.logo span {
    display: none
}

header div.hero {
    position: absolute;
    width: 42%;
    top: 130px;
    left: 10%;
}

header div.hero h1 {
    line-height: 1em;
    margin: 0 0 30px 0;
    color: #fff;
}

/* Section All */
section {
    padding: 20px 50px;
}

section::after {
    content: '';
    display: block;
    clear: both;
}


.w3-content,
.w3-auto {
    margin-top: 90px;
    margin-left: 0px;
}


/* Navigation

nav div.search-container {
    background-color: rgb(15, 71, 93);
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 50px 0 0 0;
    width: 100%;
}
*/
nav.Search {
    background-color: #f8bb1f;
    position: absolute;
    top: 0px;
    padding: 25px 0 0 0;
    width: 100%;
}

nav.Search .search-container {
    margin-left: 300px;

}


nav.Search input[type=text] {
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 8px;
    font-size: 17px;
    width: 72%;
    border: none;

}


nav.Search .search-container button {
    padding: 5px 10px 5px 10px;
    margin-bottom: 2px;
    background: #EA8000;
    font-size: 17px;
    border: none;
    cursor: pointer;

}



nav.dropList {
    background-color: #f8bb1f;
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 20px 0 0 0;
    width: 100%;
}

nav.dropList::after {
    content: '';
    display: block;
    clear: both
}

nav.dropList ul {
    list-style: none;
    margin: 0;
    padding: 0%;
}

nav.dropList ul li a:hover {
    background-color: #36253a;
}

nav.dropList ul li a {
    display: inline-block;
    color: white;
    font-size: medium;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
}

nav.dropList ul li a:visited {
    color: #fff;
}

nav.dropList ul li:hover>ul {
    display: block;
}

nav.dropList ul li a:hover {
    background-color: #2b0336;
}

nav.dropList ul ul {
    position: absolute;
    top: 100%;
    background-color: #2b0306;
    display: none;
}

nav.dropList ul ul li {
    position: relative;
}

/* Targeting top level Elements */
/* This used to Target direct ul after and not Ul with li parents*/
nav.dropList>ul {

    padding-left: 200px;

}

nav.dropList>ul>li {

    float: left;

}

nav.dropList>ul>li>a {

    width: auto;
    padding: 10px 20px 10px 20px
}

/*to indicate there is a drop down */
nav.dropList a[aria-haspopup="true"]::after {

    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 16px;
    right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff
}

/*Search bar*/


/*
nav>ul>li>a[aria-haspopup="true"] {

    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    left: 20px;
    right: auto;
    bottom: 6px;
}
*/

/* Shopping Cart  */

section.container {

    max-width: 1200px;
    margin: 0, auto;
}

.cart {

    display: flex;
    position: relative;
    float: left;
}

.products {
    flex: 0.5;
}

.product {

    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 40px;

}

.product:hover {
    border: none;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.product>img:hover {
    transform: scale(1.01);
}

.product-info {
    padding: 25px;
    width: 100%;
    position: relative;
}

.product-name,
.product-price,
.product-offer {
    padding-bottom: 10px;
}


.product-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-remove:hover {

    background-color: rgb(249, 250, 249);
    color: green;
    border: 1px solid green;
    font-weight: 600;
}

.product-quantity>input {

    width: 40px;
    padding: 5px;
    text-align: center;
}


/* footer */
footer {
    font-size: .9em;
    margin: 40px;
    color: #999;
}

footer .content {
    display: inline;
    color: #777
}

footer a {
    margin-left: 30px;
    color: #777;
    text-decoration: none;
}

footer a:visited {
    color: #777
}

footer a:hover {
    color: rgb(39, 45, 144)
}

.login {

    font-size: 18px;
    margin: 200px 200px;
    width: 50%;
    text-decoration: none;
    background-color: #777;
    height:400px;
    padding-top: 100px;
    padding-left:350px;
    padding-bottom:50px;
}

.login a{ 
    text-decoration: none;
     color: white;
}

.login a:hover { 
   
     color: blue
}

/* media Queries */

@media screen and (max-width: 700px) {
    .remove {
        display: none;
    }

    .product {
        height: 200px;

    }

    .product>img {
        height: 150px;
        width: 200px;
    }

    .product-name,
    .product-offer,
    .product-price {
        margin-bottom: 10px;

    }
}

@media screen and (max-width: 900px) {
    .cart {
        flex-direction: column;
    }

    .cart-total {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1800px) {

    .container {
        max-width: 95%;
    }

    h1 {
        font-size: 2.2em;
    }

    /* Header */
    header div.hero {
        left: 50%;
    }

    header div.hero h1 {
        margin-bottom: 20px;
    }

    /*Section Atmospher */
    section.atmosphere article {
        padding-left: 300px;
        background-size: 350px auto;
    }



}